<!--
	此示例下载自 https://echarts.apache.org/examples/zh/editor.html?c=bar-simple&code=PYBwLglsB2AEC8sDeAoWs2wMbADbACcAuAbQHIBiAZioE4AOAEQCEyBdAGkzGD0hCKp06MAQgBzcQFNisMgEMAHhADOZLsNhLVABWARoYGYMyawATxBSiZFQAt5AE2AB3MqdgBfTJ42xxYo4mmrhSAGZgRHJUAKTqHmLidpFyACxxfugARsBgPAC2UWSx8Zo4hvIGADLyWVK4RKIArlI-fooAgsoqUULCFlZFWPJG4oTmpcKOI_JR5ACyMOpyACoty2QA6lKOGyt2TRsAYmIbAMoj503Q6mS09-xtmOZdqr0eA9ZyAG7yuOtPdAqGQQKQ9WAkDx9TTTMCzCEARgATAAGDiwVFo2AIgCsWPoWIA7FiEQiSVQ0ZjOB5svICJsII4wHYigA2FEZGmwT5FLJ09yabzoNgoTwAbiAA
	⚠ 请注意，该图表不是 Apache ECharts 官方示例，而是由用户代码生成的。请注意鉴别其内容。
-->
<!DOCTYPE html>
<html lang="zh-CN" style="height: 100%">
<head>
  <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
  <div id="container" style="height: 100%"></div>

  
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.3.3/dist/echarts.min.js"></script>
  <!-- Uncomment this line if you want to dataTool extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.3.3/dist/extension/dataTool.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use gl extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-gl@2/dist/echarts-gl.min.js"></script>
  -->
  <!-- Uncomment this line if you want to echarts-stat extension
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts-stat@latest/dist/ecStat.min.js"></script>
  -->
  <!-- Uncomment this line if you want to use map
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/china.js"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@4.9.0/map/js/world.js"></script>
  -->
  <!-- Uncomment these two lines if you want to use bmap extension
  <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=YOUR_API_KEY"></script>
  <script type="text/javascript" src="https://fastly.jsdelivr.net/npm/echarts@5.3.3/dist/extension/bmap.min.js"></script>
  -->

  <script type="text/javascript">
    var dom = document.getElementById('container');
    var myChart = echarts.init(dom, null, {
      renderer: 'canvas',
      useDirtyRect: false
    });
    var app = {};
    
    var option;

    option = {
  
  color:['#3398DB'],
  tooltip:{
    trigger: 'axis',
    axisPointer:{
      type:'shadow'
    }
  },
  grid:{
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel:true
  },
  xAxis: {
    type: 'category',
    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun','999']
  },
  yAxis: {
    type: 'value'
  },
  series: [
    {
      data: [120, 200, 150, 80, 70, 110, 130,200],
      barWidth: '60%',
      type: 'bar'
    }
  ]
};

    if (option && typeof option === 'object') {
      myChart.setOption(option);
    }

    window.addEventListener('resize', myChart.resize);
  </script>
</body>
</html>